<html>
    <head>
        <title>Voice</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/static/indstyle.css"/>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper light-blue accent-4">
              <a href="#" class="brand-logo">Voice</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="index.html">Home</a></li>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="collapsible.html"></a></li>
              </ul>
            </div>
          </nav>
            

          <div class="card light-blue accent-4">
                <h1 class="title" style="text-decoration: underline;">Voice</h1>
                <h3 class="title">Gesture to Speech/Text</h3>
                <h4 class="title">Lorem Ipsum Lorem Ipsum Lorem Ipsum</h4>
                <h4 class="title">Lorem Ipsum Lorem Ipsum Lorem Ipsum</h4>
                <div class="card-action">
                    <a href="signup.html">Sign Up</a>
                    <a href="login.html">Login</a>
                </div>

          </div>

    </body>
</html>