<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/static/indstyle.css"/>
    <title>Sign Up</title>
</head>
<body>

        <nav>
                <div class="nav-wrapper light-blue accent-4">
                  <a href="#" class="brand-logo">Voice</a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="collapsible.html"></a></li>
                  </ul>
                </div>
              </nav>

              <div class="card light-blue accent-4">
                    <h1 class="title">Sign Up Here</h1>
              
                    <div class="row">
                            <form class="col s12">
                              <div class="row">
                                <div class="input-field col s6">
                                  <input id="first_name" type="text" class="validate">
                                  <label for="first_name" style="color:white;">First Name</label>
                                </div>
                                <div class="input-field col s6">
                                  <input id="last_name" type="text" class="validate">
                                  <label for="last_name" style="color:white;">Last Name</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="input-field col s6">
                                  <input id="password" type="password" class="validate">
                                  <label for="password" style="color:white;">Password</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="input-field col s6">
                                  <input id="email" type="email" class="validate">
                                  <label for="email" style="color:white;">Email</label>
                                </div>
                              </div>
                            </form>
                          </div>
            
                          <a href="login.html" class="white btn-large">Sign Up</a>
              </div>
              
                    
    
</body>
</html>